@font-face {
	font-family: "Cera Pro Medium";
	src: url("fonts/Cera\ Pro\ Medium.otf") format("opentype");
}
@font-face {
	font-family: "Cera Pro Light";
	src: url("fonts/Cera\ Pro\ Light.otf") format("opentype");
}
@font-face {
	font-family: "Cera Pro Regular Italic";
	src: url("fonts/Cera\ Pro\ Regular\ Italic.otf") format("opentype");
}
@font-face {
	font-family: "Cera Pro Black";
	src: url("fonts/Cera\ Pro\ Black.otf") format("opentype");
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	--color: #f7892f;
	--bgcolor: #c96f25;
}

.row {
	display: flex;
}

input[type="checkbox"] {
	width: 38px;
	border-radius: 11px;
}

.switch {
	position: relative;
	margin-left: 2px;
	margin-right: 2px;
	display: inline-block;
	width: 60px;
	height: 22px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 4px;
	background-color: var(--color);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider:before {
	-webkit-transform: translateX(36px);
	-ms-transform: translateX(36px);
	transform: translateX(36px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.language {
	display: flex;
	position: fixed;
	margin-left: 110px;
	color: var(--color);
	font-family: "Cera Pro Medium";
	font-size: 115%;
	border-bottom-right-radius: 2rem;
	border-bottom-left-radius: 2rem;
	padding: 1rem;
	background-color: rgb(63, 63, 63);
}

.long-circle {
	margin-left: 8px;
	margin-top: 5px;
	width: 20px;
	height: 20px;
	background-color: var(--color);
	border-radius: 50%;
	cursor: pointer;
}

.color {
	position: fixed;
	margin-left: 1600px;
	color: #ffce00;
	font-family: "Cera Pro Medium";
	font-size: 100%;
	border-bottom-right-radius: 5rem;
	border-bottom-left-radius: 5rem;
	padding: 1.5rem;
	background-color: rgb(63, 63, 63);
}

.download {
	margin: auto;
}
.download button {
	margin-top: 20px;
	width: 200px;
	background-color: rgb(63, 63, 63);
	opacity: 1;
}
div#row .circle {
	width: 40px;
	height: 40px;
	background-color: #ffce00;
	border-radius: 50%;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
}

i {
	padding-top: 50%;
	font-size: 90%;
	opacity: 0.5;
}

a:hover {
	color: var(--color);
}

body {
	background-color: var(--bgcolor);
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	width: 1100px;
	height: 600px;
	background-image: linear-gradient(
		-8deg,
		rgb(63, 63, 63) 70%,
		rgb(43, 42, 42)
	);
	border-radius: 1%;
	box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4),
		0 16px 40px rgba(14, 21, 47, 0.4);
}

.header {
	font-family: "Cera Pro Black";
	display: flex;
	margin: 40px;
	margin-top: 50px;
	margin-bottom: 5px;
	height: 15%;
}

.header-name {
	font-size: 160%;
	letter-spacing: 0.1rem;
	line-height: 80%;
	opacity: 0.8;
	text-shadow: black 2px 0 5px;
	color: white;
}

.parts {
	font-family: "Cera Pro Medium";
	font-size: 85%;
	color: white;
	padding-top: 0.5%;
	opacity: 0.8;
	padding-left: 62%;
}

.space {
	padding-left: 30%;
}

button {
	font-family: "Cera Pro Medium";
	font-size: 85%;
	color: white;
	opacity: 0.8;
	background-color: rgb(63, 63, 63);
	margin-top: 15px;
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 5%;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s ease 0s;
	letter-spacing: 1.5px;
}

button:hover {
	color: #fff;
	transform: translateY(-2px);
	color: var(--color);
}

button:focus {
	outline: none;
}

.bottom {
	font-family: "Cera Pro Black";
	display: flex;
	flex-direction: column;
	width: 2%;
	height: 15%;
	margin: 60px;
}

.reveal {
	opacity: 0;
	transform: translateY(-30px);
}

.reveal-element {
	opacity: 1;
	transform: translateY(0);
	transition: 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.hidden {
	opacity: 0;
}

section#sec-1 .body-first-part {
	padding-left: 40%;
	font-family: "Cera Pro Light";
	font-size: 85%;
	letter-spacing: 0.2rem;
	opacity: 0.6;
	color: white;
}

section#sec-1 .body-second-part {
	padding-left: 31%;
	font-family: "Cera Pro Black";
	font-size: 800%;
	letter-spacing: 0.2rem;
	text-shadow: var(--color) 2px 0 2px;
	color: var(--color);
}

section#sec-1 .body-third-part {
	padding-left: 48%;
	font-family: "Cera Pro Light";
	font-size: 85%;
	opacity: 0.6;
	letter-spacing: 0.2rem;
	color: white;
}

section#sec-2 .body {
	display: flex;
	margin-top: 10px;
}

section#sec-2 .card {
	position: relative;
	transform-style: preserve-3d;
	transition: 1s;
}

section#sec-2 .graphic {
	display: flex;
	align-items: center;
	margin-left: 200px;
	padding-right: 250px;
	margin-top: 120px;
	width: 60%;
	height: 50%;
}

section#sec-2 .card-face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

section#sec-2 .card-back {
	margin-top: 100px;
	width: 80%;
	padding-right: 80px;
	background-size: cover;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

section#sec-2 .flip {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

section#sec-2 .circle {
	height: 12px;
	width: 12.5px;
	background-color: var(--color);
	border-radius: 50%;
	opacity: 0;
}

section#sec-2 .circle-1 {
	animation: change-opacity 2s forwards;
	animation-delay: 0.5s;
}
section#sec-2 .line-1 {
	animation: change-width 2s forwards;
	animation-delay: 1s;
}
section#sec-2 .circle-2 {
	animation: change-opacity 2s forwards;
	animation-delay: 3s;
}
section#sec-2 .line-2 {
	animation: change-width 2s forwards;
	animation-delay: 3.5s;
}
section#sec-2 .circle-3 {
	animation: change-opacity 2s forwards;
	animation-delay: 5.5s;
}
section#sec-2 .line-3 {
	animation: change-width 2s forwards;
	animation-delay: 6s;
}
section#sec-2 .circle-4 {
	animation: change-opacity 2s forwards;
	animation-delay: 8s;
}

section#sec-2 .line {
	margin-left: 2px;
	margin-right: 2px;
	height: 1px;
	width: 0%;
	background-color: var(--color);
}

section#sec-2 .up-line {
	height: 200%;
	width: 1px;
	background-color: white;
	transform: translate(550%, -125%);
}

section#sec-2 .down-line {
	height: 200%;
	width: 1px;
	background-color: white;
	transform: translate(570%, 70%);
}

section#sec-2 .title-text {
	position: absolute;
	font-size: 85%;
	font-family: "Cera Pro Medium";
	color: var(--color);
}

section#sec-2 .text {
	position: absolute;
	font-size: 70%;
	font-family: "Cera Pro Regular Italic";
	color: white;
}

section#sec-2 .subtext {
	position: absolute;
	font-size: 75%;
	font-family: "Cera Pro Light";
	color: white;
}

section#sec-2 .body .circle:nth-child(1) .title-text {
	transform: translate(-70px, -95px);
}

section#sec-2 .body .circle:nth-child(1) .text {
	transform: translate(-70px, -75px);
}

section#sec-2 .body .circle:nth-child(1) .subtext {
	transform: translate(-70px, -55px);
}

section#sec-2 .body .circle:nth-child(3) .title-text {
	transform: translate(-70px, 55px);
}

section#sec-2 .body .circle:nth-child(3) .text {
	transform: translate(-70px, 75px);
}

section#sec-2 .body .circle:nth-child(3) .subtext {
	transform: translate(-70px, 95px);
}

section#sec-2 .body .circle:nth-child(5) .title-text {
	transform: translate(-70px, -95px);
}

section#sec-2 .body .circle:nth-child(5) .text {
	transform: translate(-70px, -75px);
}

section#sec-2 .body .circle:nth-child(5) .subtext {
	transform: translate(-70px, -55px);
}

section#sec-2 .body .circle:nth-child(7) .title-text {
	transform: translate(-70px, 55px);
}

section#sec-2 .body .circle:nth-child(7) .text {
	transform: translate(-70px, 75px);
}

section#sec-2 .body .circle:nth-child(7) .subtext {
	transform: translate(-70px, 95px);
}

section#sec-2 .courses-title {
	color: white;
	font-family: "Cera Pro Black";
	font-size: 95%;
	opacity: 0.9;
}

section#sec-2 .courses {
	padding-left: 8px;
	color: white;
	font-family: "Cera Pro Light";
	font-size: 85%;
	text-indent: 4px;
}

section#sec-2 .colored {
	color: var(--color);
	font-family: "Cera Pro Medium";
}

section#sec-2 button {
	margin-left: 600px;
}

section#sec-2 .front-flip {
	padding-left: 1000px;
}

section#sec-2 .front-flip i {
	font-size: x-large;
	padding: 0;
	float: right;
	opacity: 0.7;
	cursor: pointer;
}

section#sec-2 .back-flip {
	padding-left: 890px;
	padding-top: 80px;
}

section#sec-2 .back-flip i {
	font-size: x-large;
	padding: 0;
	opacity: 0.7;
	cursor: pointer;
}

section#sec-2 .bottom {
	margin-top: 170px;
}

section#sec-3 .container {
	display: flex;
	overflow: hidden;
	margin: 20px;
	margin-left: 180px;
	margin-right: 100px;
}

section#sec-3 .left-zone {
	height: 75%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: left;
}

section#sec-3 .list {
	display: flex;
	align-content: center;
	flex-direction: column;
	flex-grow: 1;
	margin-top: 20px;
}

section#sec-3 li {
	color: white;
	cursor: pointer;
	opacity: 0.8;
	text-align: left;
	font-size: 15px;
	font-family: "Cera Pro Medium";
	margin-top: 30px;
	list-style-type: none;
}

section#sec-3 .separation {
	width: 1px;
	height: 270px;
	background: var(--color);
	opacity: 0.5;
}

section#sec-3 .see-more i {
	padding-top: 0%;
	font-size: 140%;
	opacity: 0.85;
}

section#sec-3 .right-zone {
	height: 100%;
	width: 70%;
	flex-grow: 3;
	color: white;
	font-family: "Cera Pro Medium";
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section#sec-3 .title {
	font-family: "Cera Pro Black";
	font-size: 25px;
	color: var(--color);
	opacity: 0.9;
}
section#sec-3 .text {
	font-family: "Cera Pro Light";
	margin: 25px;
	text-align: center;
}

section#sec-3 li:hover {
	transition: all 0.2s ease 0s;
	transform: translateY(-1px);
	color: var(--color);
}

section#sec-3 .link-actility {
	font-weight: bold;
	color: #17a2b8;
}

section#sec-3 .link-actility:hover {
	text-decoration: underline #17a2b8;
}

section#sec-3 .colored {
	font-weight: bold;
	color: var(--color);
	opacity: 0.9;
}

section#sec-3 .bottom {
	margin-top: 0;
}

section#sec-4 .colored {
	color: var(--color);
}

section#sec-4 .container {
	display: flex;
	margin: 10px;
	margin-left: 80px;
	margin-right: 80px;
}

section#sec-4 .left-zone {
	height: 75%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	color: white;
	letter-spacing: 0.5px;
}

section#sec-4 .title {
	font-family: "Cera Pro Black";
	font-size: 32px;
}

section#sec-4 .subtitle {
	font-family: "Cera Pro Black";
	font-size: 15px;
	margin-top: 15px;
}

section#sec-4 p {
	font-family: "Cera Pro Light";
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
}

section#sec-4 .icons {
	display: flex;
}

section#sec-4 .icons i {
	padding: 20px;
	padding-top: 30px;
}

section#sec-4 .right-zone {
	display: flex;
	justify-content: left;
	width: 60%;
	height: 400px;
	background: rgb(63, 63, 63);
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
	margin-left: 100px;
	color: white;
	letter-spacing: 0.5px;
}

section#sec-4 .maintenance {
	position: absolute;
	padding-left: 170px;
	padding-top: 80px;
	color: orange;
	font-size: 800%;
	z-index: 1;
}

section#sec-4 .right-zone .form {
	opacity: 0.3;
}

section#sec-4 .right-zone .title {
	font-family: "Cera Pro Black";
	font-size: 32px;
	text-align: center;
}

section#sec-4 .form {
	justify-content: center;
}

section#sec-4 .input {
	margin-top: 25px;
	font-family: "Cera Pro Light";
	font-size: 15px;
	margin-left: 25px;
	opacity: 0.9;
}

section#sec-4 input {
	box-sizing: border-box;
	justify-content: center;
	font-family: "Cera Pro Light";
	width: 70%;
	color: white;
	background-color: rgb(63, 63, 63);
	font-size: 15px;
	font-weight: bold;
	border: none;
}

section#sec-4 input:focus {
	outline: none;
}
section#sec-4 input:active {
	color: white;
	background-color: rgb(63, 63, 63);
}

section#sec-4 textarea {
	resize: none;
	margin-top: 5px;
	margin-left: 25px;
	margin-right: 10px;
	font-family: "Cera Pro Light";
	width: 93%;
	color: white;
	background-color: rgb(63, 63, 63);
	font-size: 15px;
	border-color: rgb(151, 151, 151);
}

section#sec-4 textarea:focus {
	outline: none;
}

section#sec-4 .textarea {
	padding: 2px;
	font-weight: bold;
	width: 85%;
}

section#sec-4 .underlined {
	width: 400px;
	height: 1px;
	background: white;
	margin-top: 5px;
	margin-left: 25px;
	margin-bottom: 10px;
	opacity: 0.5;
}

section#sec-4 button {
	margin-left: 130px;
	width: 200px;
}

section#sec-4 .right-zone i {
	padding-top: 0;
	opacity: 1;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: rgb(63, 63, 63);
	margin: 15% auto;
	padding-left: 10px;
	border: 1px solid var(--color);
	border-radius: 2%;
	width: 40%;
}

.modal-message {
	text-align: center;
	font-family: "Cera Pro Light";
	font-size: 18px;
	letter-spacing: 0.5px;
	padding: 80px;
	color: white;
}

.close {
	color: #aaa;
	float: right;
	font-size: 30px;
	font-weight: bold;
	margin: 15px;
}

.close:hover,
.close:focus {
	color: var(--color);
	text-decoration: none;
	cursor: pointer;
}

@keyframes change-opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes change-width {
	from {
		width: 0%;
	}
	to {
		width: 30%;
	}
}
